*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}   

.container{
    width: 1320px;
    margin: 0 auto;
}    

/* ====================================== */


.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 99;
}

.navbar .navbar-link{
    padding: 0;
}

.navbar .navbar-nav{
    column-gap: 67px;
}

.navbar .nav-link{
    padding: 0 !important;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: .4s;
}

.navbar .nav-link.active{
    padding: 0 !important;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: .4s;
}

.navbar .nav-link:hover{
    color: #4756DF;
}

.navbar .nav-link.active:hover{
    color: #4756DF;
}

.navbar .contact{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border-radius: 10px;
    background: #6A4DF4;
    padding: 15px 42px;
}



/* ====================================================== */


#banner{
    background: url(../images/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner2{
    background: url(../images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner3{
    background: url(../images/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner4{
    background: url(../images/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 315px 0 272px;
}

#banner .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner .container h1{
    width: 950px;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

#banner2 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner2 .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 277px 0 272px;
}

#banner2 .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner2 .container h1{
    width: 85%;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner2 .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

#banner3 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner3 .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 315px 0 272px;
}

#banner3 .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner3 .container h1{
    width: 950px;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner3 .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

#banner4 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner4 .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 315px 0 272px;
}

#banner4 .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner4 .container h1{
    width: 950px;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner4 .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

.main_banner_slider{
    position: relative;
}

.main_banner_slider ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 53px;
    display: flex;
    column-gap: 2px;
}

.main_banner_slider ul li button{
    width: 24px;
    height: 24px;
    border: 4px solid #4756DF;
    background: #4756DF;
    font-size: 0;
    border-radius: 50%;
}

.main_banner_slider ul .slick-active button{
    border-color: #FFF;
}

/* ============================================================================== */

#success{
    padding-top: 171px;
    padding-bottom: 171px;
}

#success .container{
    border-radius: 20px;
    background: #E0FFF9;
    padding: 69px 51px 86px 50px;
}

#success .container .left{
    margin-top: 16px;
}

#success .container .left h3{
    color: var(--Primary-Color, #6A4DF4);
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 30px */
}

#success .container .left h2{
    width: 387px;
    color: var(--Dark-01, #151515);
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

#success .container .text{
    display: flex;
    justify-content: flex-end;
    column-gap: 110px;
}

#success .container .text .item h4{
    color: var(--Dark-01, #151515);
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#success .container .text .item p{
    color: var(--Dark-03, #737373);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 24px */
}