*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}   

.container{
    max-width: 1344px;
    margin: 0 auto;
}    

.title{
    text-align: center;
}

.title h2{
    color: var(--Dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title p{
    color: var(--Dark-03, #737373);
    text-align: center;
    
    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 802px;
    margin: 20px auto 130px;
}

/* ====================================== */


.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 99;
}

.navbar .navbar-link{
    padding: 0;
}

.navbar .navbar-nav{
    column-gap: 67px;
}

.navbar .nav-link{
    padding: 0 !important;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: .4s;
}

.navbar .nav-link.active{
    padding: 0 !important;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: .4s;
}

.navbar .nav-link:hover{
    color: #4756DF;
}

.navbar .nav-link.active:hover{
    color: #4756DF;
}

.navbar .contact{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border-radius: 10px;
    background: #6A4DF4;
    padding: 15px 42px;
}



/* ====================================================== */


#banner{
    background: url(../images/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner2{
    background: url(../images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner3{
    background: url(../images/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner4{
    background: url(../images/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 315px 0 272px;
}

#banner .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner .container h1{
    width: 950px;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

#banner2 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner2 .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 367px 0 272px;
}

#banner2 .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner2 .container h1{
    width: 85%;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner2 .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

#banner3 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner3 .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 431px 0 272px;
}

#banner3 .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner3 .container h1{
    width: 950px;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner3 .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

#banner4 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#banner4 .overlay{
    background: rgba(0, 0, 0, 0.6);
    padding: 315px 0 272px;
}

#banner4 .container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: 0;
    display: inline-flex;
    padding: 15px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #6A4DF4;
}

#banner4 .container h1{
    width: 950px;
    color: #FFF;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#banner4 .container p{
    width: 621px;
    color: #FFF;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 51px 0 40px;
}

.main_banner_slider{
    position: relative;
}

.main_banner_slider ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 53px;
    display: flex;
    column-gap: 2px;
}

.main_banner_slider ul li button{
    width: 24px;
    height: 24px;
    border: 4px solid #4756DF;
    background: #4756DF;
    font-size: 0;
    border-radius: 50%;
}

.main_banner_slider ul .slick-active button{
    border-color: #FFF;
}

/* ============================================================================== */

#success{
    padding-top: 171px;
    padding-bottom: 171px;
}

#success .container{
    border-radius: 20px;
    background: #E0FFF9;
    padding: 69px 51px 86px 50px;
}

#success .container .left{
    margin-top: 16px;
}

#success .container .left h3{
    color: var(--Primary-Color, #6A4DF4);
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 30px */
}

#success .container .left h2{
    width: 387px;
    color: var(--Dark-01, #151515);
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

#success .container .text{
    display: flex;
    justify-content: flex-end;
    column-gap: 110px;
}

#success .container .text .item h4{
    color: var(--Dark-01, #151515);
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#success .container .text .item p{
    color: var(--Dark-03, #737373);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 24px */
}

/* ========================================================= */


#service{
    padding: 149px 0 103px;
}

#service .title{
    text-align: center;
}

#service .title h2{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#service .title p{
    color: var(--Dark-03, #737373);
    text-align: center;
    
    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 609px;
    margin: 20px auto 56px;
}

#service .main{
    text-align: center;
    padding: 80px 49px 46px;
    border-radius: 20px;
    transition: .4s;
}

#service .main:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#service .container .row{
    row-gap: 24px;
}

#service .main h3{
    margin: 40.5px 20px;
    color: var(--Dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#service .main p{
    color: var(--Dark-03, #737373);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* ============================================ */

#work{
    padding: 149px 0 103px;
    background: #F3F3F3;
}

#work .title{
    text-align: center;
}

#work .title h2{
    color: var(--Dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#work .title p{
    max-width: 609px;
    color: var(--Dark-03, #737373);
    text-align: center;

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 20px auto 106px;
}

#work .main{
    text-align: center;
    padding: 80px 49px 46px;
    border-radius: 26px;    
    width: 424px;
    background: #FFF;
}

#work .main .image{
    margin-left: -15%;
    margin-top: -25%;
    width: 424px;
}

#work .main .image img{
    border-radius: 20px;
}

#work .container .row{
    row-gap: 24px;
}

#work .main h3{
    padding: 30px 0px;
    color: var(--Dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#work .main p{
    margin-top: -10%;
    color: var(--Dark-03, #737373);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* =========================================== */

#agenc{
    padding: 149px 0 103px;
}

#agenc .container .row .main .top .text h3{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#agenc .container .row .main .top .text p{
    color: var(--Dark-03, #737373);

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 344px;
}

#agenc .container .row .main .bottom .text h3{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#agenc .container .row .main .bottom .text p{
    color: var(--Dark-03, #737373);

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 344px;
}

#agenc .container .row .main .top2 .text h3{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#agenc .container .row .main .top2 .text p{
    color: var(--Dark-03, #737373);

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 344px;
}

#agenc .container .row .main .bottom2 .text h3{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#agenc .container .row .main .bottom2 .text p{
    color: var(--Dark-03, #737373);

    /* Paragraph  */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 344px;
}

#agenc .container .row .main .bottom{
    padding-top: 88px; 
}

#agenc .container .row .main .bottom2{
    padding-top: 95px;
}

#agenc .container .row .col-lg-4 .image1{
    border-radius: 20px;
    margin-right: 105px;
}

/* =============================================================== */

#review{
    padding: 106px 0;
}

#review .container{
    max-width: 1368px;
}

#review .main_slider .review_item{
    background: transparent;
    width: 424px !important;
    height: 422px;
    margin: 0 12px;
    padding: 0 59px;
    transition: .4s;
}

#review .main_slider .review_item .coma{
    padding-top: 54px;
}

#review .main_slider .slick-center{
    background: #F4EFEF;
    padding-bottom: 54px;
    border-radius: 30px;
}

#review .main_slider{
    position: relative;
}

#review .main_slider .right{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: #4756DF;
    border-radius: 50%;
    color: #FFF;
}

#review .main_slider .left{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: #4756DF;
    border-radius: 50%;
    color: #FFF;
}

#review .container .main_slider .review_item .p1{
    color: var(--Dark-03, #7B7B7B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width:  300px;
    margin: 0;
    padding: 35px 0 17px 0;
}

#review .container .main_slider .review_item .text{
    margin: -15% 20%;
}

#review .container .main_slider .review_item .text h3{
    color: var(--Dark-01, #232323);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

#review .container .main_slider .review_item .client .text p{
    color: var(--Dark-03, #7B7B7B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

#review .container .main_slider .review_item .icon i{
    color: gold;
    padding-bottom: 34px;
}